<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
		<string>NSApplication</string>
	<key>CFBundleIconFile</key>
		<string>LANDWorksCAD.icns</string>
	<key>CFBundleGetInfoString</key>
		<string>The Authentic LANDWorksCAD Application.</string>	
	<key>CFBundlePackageType</key>
		<string>APPL</string>
	<key>CFBundleName</key>
		<string>LANDWorksCAD</string>
	<key>CFBundleVersion</key>
	    <string>8</string>
	<key>CFBundleExecutable</key>
		<string>RealCAD</string>
	<key>CFBundleIdentifier</key>
		<string>com.cadinternational.LANDWorksCAD-v8</string>
	<key>NOTE</key>
		<string>Created by CAD International</string>	
	<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
	<key>CFBundleDisplayName</key>
		<string>LANDWorksCAD-v8</string>
	<key>NSHumanReadableCopyright</key>
		<string>Copyright © 2019 CAD International. All rights reserved.</string>
	<key>LSApplicationCategoryType</key>
		<string>CAD</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cad</string>
				<string>CAD</string>
			</array>				
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeIconFile</key>
				<string>CAD.icns</string>
			<key>CFBundleTypeName</key>
			<string>LANDWorksCAD CAD</string>				
			<key>CFBundleTypeRole</key>
				<string>Editor</string>
			<key>LSTypeIsPackage</key>
				<string>false</string>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.data</string>
			<key>UTTypeDescription</key>
			<string>LANDWorksCAD Drawing</string>
			<key>UTTypeIdentifier</key>
			<string>com.cadinternational.LANDWorksCAD.cad</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>CAD</string>
				</array>
				<key>public.filename-extension</key>
				<string>cad</string>
				<key>public.mime-type</key>
				<string>application/cad</string>
			</dict>
		</dict>
	</array>	
</dict>		
</plist>
