<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18A391</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>RealCADQuickLookPlugin</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cad</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>LANDWorksCAD Drawing file</string>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>cadinternational.com.RealCAD.cad</string>
				<string>cadinternational.com.LANDWorksCAD.cad</string>
				<string>cadinternational.com.ArborCAD.cad</string>
				<string>com.cadinternational.RealCAD.cad</string>
				<string>com.cadinternational.LANDWorksCAD.cad</string>
				<string>com.cadinternational.ArborCAD.cad</string>
				<string>dyn.ah62d4rv4ge80g2pe</string>
			</array>
			<key>LSTypeIsPackage</key>
			<string>false</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>RealCADQuickLookPlugin</string>
	<key>CFBundleIdentifier</key>
	<string>DigitalDesignConsulting.com.RealCADQuickLookPlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RealCADQuickLookPlugin</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>77F96A17-CBE4-4994-94D2-B1D0957CBBA2</key>
		<string>QuickLookGeneratorPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
		<array>
			<string>77F96A17-CBE4-4994-94D2-B1D0957CBBA2</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9F2000</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17E189</string>
	<key>DTSDKName</key>
	<string>macosx10.13</string>
	<key>DTXcode</key>
	<string>0941</string>
	<key>DTXcodeBuild</key>
	<string>9F2000</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2018 Ken Jones. All rights reserved.</string>
	<key>QLNeedsToBeRunInMainThread</key>
	<false/>
	<key>QLPreviewHeight</key>
	<integer>512</integer>
	<key>QLPreviewWidth</key>
	<integer>512</integer>
	<key>QLSupportsConcurrentRequests</key>
	<false/>
	<key>QLThumbnailMinimumSize</key>
	<real>17</real>
</dict>
</plist>
